* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html {
    font-size: 0.7vw;
}

.mobile-nav {
    display: none;
}

.desktop {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0rem;

    position: relative;
    width: 144rem;
    height: 96rem;

    background: #FFFFFF;
}


.side-bar {
    display: flex;
    position: fixed;
    width: 36.2rem;
    height: 96rem;
    border-right: 0.1rem solid #EAECF0;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.side-bar-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 8.1rem;
    height: 96rem;
    border-right: 0.1rem solid #EAECF0;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.side-bar-1-up {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-items: center;
    padding: 3.2rem 0rem 0rem;
    gap: 2.4rem;
    width: 8.1rem;
    height: 41.6rem;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.side-bar-1-up-logo {
    padding: 0rem 2rem 0rem 2.4rem;
    width: 8.1rem;
    height: 3.2rem;
}

.side-bar-1-low {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0rem 1.6rem 2.4rem;
    gap: 2.4rem;
    width: 8.1rem;
    height: 20rem;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.side-bar-1-low-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0rem;
    gap: 2.4rem;
    width: 4.9rem;
    height: 10.4rem;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.avatar {
    width: 4.8rem;
    height: 4.8rem;
    border-radius: 20rem;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.avatar-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0rem;

    width: 6.4rem;
    height: 6.4rem;
    background: url(../img/avatar.jpeg);
    border-radius: 20rem;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.side-bar-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0rem;
    gap: 1.6rem;
    width: 28.1rem;
    height: 96rem;
    background: #FFFFFF;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 1;
}

.side-bar-2-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 3.6rem 1.6rem 0rem;
    gap: 1.6rem;
    width: 28.1rem;
    height: 38rem;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

/* button */
.signup-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem 1.6rem;
    gap: 0.8rem;

    width: 10rem;
    height: 4rem;

    background: #FFFFFF;
    border: 0.1rem solid #D0D5DD;
    box-shadow: 0rem 0.1rem 0.2rem rgba(16, 24, 40, 0.05);
    border-radius: 0.8rem;


    flex: none;
    order: 2;
    flex-grow: 0;
}


.view-profile-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem 1.6rem;
    gap: 0.8rem;

    width: 11.3rem;
    height: 4rem;

    background: #7F56D9;
    border: 0.1rem solid #7F56D9;
    box-shadow: 0rem 0.1rem 0.2rem rgba(16, 24, 40, 0.05);
    border-radius: 0.8rem;

    flex: none;
    order: 3;
    flex-grow: 0;
}

.file-upload-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0rem;
    gap: 0.8rem;

    width: 10.1rem;
    height: 2rem;


    flex: none;
    order: 0;
    flex-grow: 0;
}

/* button end*/

/* input tag */
.input-bar-1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem 1.4rem;
    gap: 0.8rem;

    width: 31.5rem;
    height: 4.4rem;

    background: #FFFFFF;
    border: 0.1rem solid #D0D5DD;
    box-shadow: 0rem 0.1rem 0.2rem rgba(16, 24, 40, 0.05);
    border-radius: 0.8rem;

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

/* input tag end */

/* Text CSS */
.text-1 {
    width: 24.9rem;
    height: 2.4rem;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: #101828;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.text-2 {
    width: 8rem;
    height: 2.4rem;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: #344054;
    flex: none;
    order: 2;
    flex-grow: 0;
}

.text-3 {
    width: 1.4rem;
    height: 1.8rem;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
    color: #344054;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.text-4 {
    width: 21.3rem;
    height: 2rem;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 2rem;
    color: #101828;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.text-5 {
    width: 58.9rem;
    height: 3.8rem;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 3rem;
    line-height: 3.8rem;

    color: #101828;


    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.text-6 {
    width: 58.9rem;
    height: 2.4rem;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.4rem;

    color: #475467;


    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.text-7 {
    width: 4rem;
    height: 2rem;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 2rem;

    color: #344054;

    flex: none;
    order: 1;
    flex-grow: 0;
}

.text-8 {
    width: 8.1rem;
    height: 2rem;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 2rem;

    color: #FFFFFF;


    flex: none;
    order: 1;
    flex-grow: 0;
}

.text-9 {
    width: 28rem;
    height: 2rem;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2rem;

    color: #475467;

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.text-10 {
    width: 52.2rem;
    height: 1.8rem;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;

    /* Gray/600 */

    color: #475467;


    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.text-11 {
    width: 61rem;
    height: 2rem;

    /* Text sm/Medium */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 2rem;
    /* identical to box height, or 143% */


    /* Gray/700 */

    color: #344054;


    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.text-12 {
    width: 48.7rem;
    height: 2.4rem;

    /* Text md/Regular */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.4rem;
    /* identical to box height, or 150% */


    /* Gray/900 */

    color: #101828;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 1;
}

/* Text CSS End */

.side-bar-2-navigation {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0rem;
    gap: 0.4rem;
    width: 24.9rem;
    height: 30.4rem;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.8rem 1.2rem;
    gap: 0.8rem;
    width: 24.9rem;
    height: 4rem;
    background: #FFFFFF;
    border-radius: 0.6rem;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.navigation-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0rem;
    gap: 1.2rem;
    width: 18.7rem;
    height: 2.4rem;
    flex: none;
    order: 0;
    flex-grow: 1;
}

.navigation-content-badge {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.2rem 0.8rem;
    width: 3rem;
    height: 2.2rem;
    background: #F2F4F7;
    mix-blend-mode: multiply;
    border-radius: 1.6rem;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.side-bar-2-account {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0rem 4.8rem 2.4rem 2rem;
    isolation: isolate;
    width: 28.1rem;
    height: 6.4rem;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.account-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0rem;
    width: 21.3rem;
    height: 4rem;
    flex: none;
    order: 0;
    flex-grow: 1;
    z-index: 0;
}

.account-text {
    width: 21.3rem;
    height: 2rem;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 2rem;
    color: #101828;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.account-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.8rem;
    gap: 0.8rem;

    /* position: absolute; */
    width: 3.6rem;
    height: 3.6rem;
    right: 1.2rem;
    top: -0.8rem;
    border-radius: 0.8rem;
    flex: none;
    order: 1;
    flex-grow: 0;
    z-index: 1;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0rem 0rem 4.8rem;
    gap: 4.8rem;

    width: 107.8rem;
    height: 172.9rem;
    margin-left: 36.2rem;
    background: #FCFCFD;

    flex: none;
    order: 1;
    flex-grow: 1;
}

.page-head {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0rem;

    width: 107.8rem;
    height: 36rem;


    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.page-head-image {
    width: 107.8rem;
    height: 24rem;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: -4rem 0rem;
}

.page-head-image-img {
    box-sizing: border-box;
    width: 107.8rem;
    /* position: absolute */
    height: 24rem;
    left: -11.2rem;
    right: -11.2rem;
    top: 0rem;
    border: 0.1rem solid #000000;
    filter: drop-shadow(0rem 0.4rem 0.4rem rgba(0, 0, 0, 0.25));
}

.page-head-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0rem 3.2rem;
    gap: 2.4rem;

    width: 107.8rem;
    height: 16rem;

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.page-head-avatar {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0rem;
    gap: 2.4rem;

    width: 101.4rem;
    height: 16rem;


    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.avatar-photo {
    width: 16rem;
    height: 16rem;

    border-radius: 20rem;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.avatar-photo-tick {
    position: relative;
    width: 3.2rem;
    height: 3.2rem;
    right: 0.4rem;
    bottom: 0.4rem;
}

.avatar-profile-photo {
    width: 16rem;
    height: 16rem;
    position: relative;
    left: 0rem;
    right: 0rem;
    top: 0rem;
    bottom: 0rem;
    border: 0.4rem solid #FFFFFF;
    box-shadow: 0rem 1.2rem 1.6rem -0.4rem rgba(16, 24, 40, 0.08), 0rem 0.4rem 0.6rem -0.2rem rgba(16, 24, 40, 0.03);
    border-radius: 20rem;
}

.avatar-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 6.4rem 0rem 0rem;
    gap: 2rem;

    width: 83rem;
    height: 13rem;

    flex: none;
    order: 1;
    flex-grow: 1;
}


.avatar-content-head {
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    align-items: flex-start;
    padding: 0rem;
    gap: 1.6rem;

    width: 83rem;
    height: 6.6rem;

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.avatar-content-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0rem;
    gap: 0.4rem;

    width: 58.9rem;
    height: 6.6rem;


    flex: none;
    order: 0;
    flex-grow: 1;
}

.avatar-content-text-action {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0rem;
    gap: 1.2rem;

    width: 22.5rem;
    height: 4rem;


    flex: none;
    order: 1;
    flex-grow: 0;
}

/* main section start */
.main-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0rem;
    gap: 3.2rem;

    width: 107.8rem;
    height: 127.3rem;

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.main-section-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0rem 3.2rem;
    gap: 2.4rem;

    width: 107.8rem;
    height: 127.3rem;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0rem;
    gap: 2rem;

    width: 101.4rem;
    height: 127.3rem;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.form-content-1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0rem;
    gap: 3.2rem;

    width: 101.4rem;
    height: 43.5rem;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.form-content-1-top {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0rem;

    width: 28rem;
    height: 4rem;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.form-content-1-form {
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0rem;

    width: 70.2rem;
    height: 43.5rem;

    background: #FFFFFF;

    border: 0.1rem solid #EAECF0;
    
    box-shadow: 0rem 0.1rem 0.3rem rgba(16, 24, 40, 0.1), 0rem 0.1rem 0.2rem rgba(16, 24, 40, 0.06);
    border-radius: 1.2rem;

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 1;
}

.form-content-1-form-c1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2.4rem;
    gap: 2.4rem;

    width: 70.2rem;
    height: 36.2rem;

    background: #FFFFFF;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.c1-input {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0rem;
    gap: 2.4rem;

    width: 65.4rem;
    height: 7rem;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.c1-input-1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0rem;
    gap: 0.6rem;

    width: 31.5rem;
    height: 7rem;

    flex: none;
    order: 0;
    flex-grow: 1;
}

.c1-email {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0rem;
    gap: 0.6rem;

    width: 65.4rem;
    height: 7rem;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.c1-email-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0rem;
    gap: 0.8rem;

    width: 62.6rem;
    height: 2.4rem;
    flex: none;
    order: 0;
    flex-grow: 1;
}

.c1-email-content-svg {
    width: 2rem;
    height: 2rem;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.c1-avatar-fileupload {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0rem;
    gap: 2rem;

    width: 65.4rem;
    height: 12.6rem;



    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
}

.file-upload {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0rem;
    gap: 1.6rem;

    width: 57rem;
    height: 12.6rem;


    flex: none;
    order: 1;
    flex-grow: 1;
}

.file-upload-base {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.6rem 2.4rem;
    gap: 0.4rem;

    width: 57rem;
    height: 12.6rem;

    background: #FFFFFF;
    border: 0.1rem dashed #EAECF0;
    border-radius: 1.2rem;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.file-upload-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0rem;
    gap: 1.2rem;

    width: 52.2rem;
    height: 9.4rem;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.svg-border {
    width: 4rem;
    height: 4rem;


    background: #F2F4F7;
    border: 0.6rem solid #F9FAFB;
    border-radius: 2.8rem;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.file-upload-content-cnt {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0rem;
    gap: 0.4rem;

    width: 52.2rem;
    height: 4.2rem;

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.file-upload-content-cnt-action {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 0rem;
    gap: 0.4rem;

    width: 52.2rem;
    height: 2rem;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.form-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0rem 0rem 1.6rem;
    gap: 1.6rem;

    width: 70.2rem;
    height: 7.3rem;


    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.divider {
    width: 70.2rem;
    height: 0.1rem;

    background: #EAECF0;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.footer-content {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0rem 2.4rem;
    gap: 1.6rem;

    width: 70.2rem;
    height: 4rem;

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;

}

.footer-content-act {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0rem;
    gap: 1.2rem;

    width: 65.4rem;
    height: 4rem;


    flex: none;
    order: 1;
    flex-grow: 1;
}

.toggle {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0rem;
    gap: 0.8rem;

    width: 65.4rem;
    height: 4rem;


    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.toggle-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0rem;

    width: 61rem;
    height: 4rem;

    flex: none;
    order: 1;
    flex-grow: 1;
}

.content-2-input {
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0rem;

    width: 65.4rem;
    height: 4.4rem;

    background: #FFFFFF;
   
    border: 0.1rem solid #D0D5DD;
    
    box-shadow: 0rem 0.1rem 0.2rem rgba(16, 24, 40, 0.05);
    border-radius: 0.8rem;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.content-2-input-add {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem 1.2rem 1rem 1.4rem;

    width: 13.9rem;
    height: 4.4rem;

    border-radius: 0.8rem 0rem 0rem 0.8rem;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.content-2-text-input {
    box-sizing: border-box;


    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem 1.4rem;
    gap: 0.8rem;

    width: 51.5rem;
    height: 4.4rem;


    background: #FFFFFF;

    border: 0.1rem solid #D0D5DD;
    border-radius: 0rem 0.8rem 0.8rem 0rem;

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 1;
}

.toolbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0rem;
    gap: 1.2rem;

    width: 65.4rem;
    height: 23.6rem;
    flex: none;
    order: 3;
    align-self: stretch;
    flex-grow: 0;
}

.toolbar-content {
    box-sizing: border-box;


    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 1.2rem 1.4rem;
    gap: 0.8rem;

    width: 65.4rem;
    height: 12.8rem;
    background: #FFFFFF;
    border: 0.1rem solid #D0D5DD;
    box-shadow: 0rem 0.1rem 0.2rem rgba(16, 24, 40, 0.05);
    border-radius: 0.8rem;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 1;
}

.toolbar-1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0rem;
    gap: 1.2rem;

    width: 65.4rem;
    height: 4.4rem;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.toolbar-1-inp {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0rem;
    gap: 0.8rem;

    width: 24rem;
    height: 4.4rem;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.toolbar-1-icon {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0rem;
    gap: 0.4rem;

    width: 17.6rem;
    height: 3.2rem;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.toolbar-1-icon-icn {
    padding-top: 0.6rem;
    width: 3.2rem;
    height: 3.2rem;

    border-radius: 0.6rem;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.drop-label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0rem;
    gap: 0.8rem;

    width: 65.4rem;
    height: 7rem;


    /* Inside auto layout */

    flex: none;
    order: 4;
    align-self: stretch;
    flex-grow: 0;
}

.drop-label-cnt {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0rem;
    gap: 0.8rem;

    width: 59.8rem;
    height: 2.4rem;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 1;
}

/*  Mobile CSS  */

@media (max-width:375px) {
    html {
        font-size: 1.3vw;
    }

    .desktop {
        display: none;
    }

    .side-bar {
        display: none;
    }

    .side-bar-1 {
        display: none;
    }

    .side-bar-2 {
        display: none;
    }

    .divider {
        display: none;
    }

    .mobile-cnt {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 1.2rem 0.8rem 1.2rem 1.6rem;
        gap: 20.1rem;

        width: 73rem;
        height: 6.4rem;
        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 1;
    }

    .mobile-nav {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0rem;

        width: 37.5rem;
        height: 6.4rem;
        background: #FFFFFF;
        border-bottom: 0.1rem solid #EAECF0;
        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 0;
    }

    .mobile-nav-lft {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0rem;

        width: 14.2rem;
        height: 3.2rem;

        flex: none;
        order: 0;
        flex-grow: 0;
    }

    .mobile-nav-rgt {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 8px;
        gap: 8px;

        width: 40px;
        height: 40px;
        background: #FFFFFF;
        border-radius: 8px;
        flex: none;
        order: 1;
        flex-grow: 0;
    }

    .main {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0rem 0rem 4.8rem;
        gap: 3.2rem;
        margin: 0rem;
        margin-left: 0rem;
        width: 37.5rem;
        height: 300rem;
        flex: none;
        order: 1;
        align-self: stretch;
        flex-grow: 0;

    }

    .page-head {
        height: 50rem;
    }

    .page-head-avatar {
        flex-direction: column;
        gap: 0rem;
    }

    .form-content-1 {
        flex-direction: column;
    }

    .avatar-content-head {
        flex-direction: column;
    }
}
